@import "colors";

:host {
  box-shadow: -18px 0px 15px -5px rgba(0, 0, 0, 0.2);
  display: block;
  height: 100vh;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
  }

  &__field {
    width: 80%;
    max-width: 350px;
    margin-bottom: 15px;
  }

  &__button {
    width: 46%;

    &:first-child {
      margin-right: 2%;
    }

    &:last-child {
      margin-left: 2%;
    }
  }

  &__prompt {
    width: 80%;
    max-width: 350px;
    margin-top: 15px;
    color: $prompt;
    text-align: center;
  }

}
