<div mat-dialog-title class="agreement-dialog__title">{{title}}</div>
<mat-dialog-content class="agreement-dialog__text">
  {{agreementText}}
</mat-dialog-content>
<mat-dialog-actions class="agreement-dialog__action-buttons">
  <button class="agreement-dialog__action-button" mat-raised-button [mat-dialog-close]="false">{{cancelBtnText}}</button>
  <button class="agreement-dialog__action-button" mat-raised-button color="primary" [mat-dialog-close]="true">{{agreeBtnText}}</button>
</mat-dialog-actions>
