<div class="actions">
  <ion-label class="actions__label">Выберите действие</ion-label>
  <ion-list class="actions__list">
    <ion-item>
      <ion-select
        placeholder="Выберите действие"
        cancel-text="Отмена"
        interface="action-sheet"
        [disabled]="!(hasInternetConnection$ | async) || !(sensorsData$ | async)"
        [(ngModel)]="selectedAction">
        <ion-select-option *ngFor="let action of actions" [value]="action.value">{{action.viewValue}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="actions__send-button">
    <az-hold-button
      [isLoading]="isLoading"
      [disabled]="isLoading || !(hasInternetConnection$ | async) || !(sensorsData$ | async)"
      [iconUrl]="'assets/svg/send-command.svg'"
      [holdTime]="1"
      (holdTimeEnd)="sendCommand()">
    </az-hold-button>
  </div>
</div>
