<div class="actions">
  <mat-form-field appearance="fill">
    <mat-label>Выберите действие</mat-label>
    <mat-select [(ngModel)]="selectedAction">
      <mat-option *ngFor="let action of actions" [value]="action.value">
        {{action.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="actions__send-button">
    <az-hold-button
      [isLoading]="isLoading"
      [disabled]="isLoading"
      [iconUrl]="'assets/svg/send-command.svg'"
      [holdTime]="1200"
      (holdTimeEnd)="sendCommand()">
    </az-hold-button>
  </div>
</div>
