:host::ng-deep .new-version-prompt {
  overflow-y: scroll;
  padding: 15px 30px;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & .title {
    font-size: 18px;
  }

  & div:first-child {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: justify;
  }

  & img {
    width: 70%;
    margin-bottom: 15px;
  }

  & p, ul {
    margin-bottom: 15px;
  }

  & ul > li {
    margin-bottom: 10px;
  }

  & b {
    font-weight: bold;
  }

  &__action-buttons {
    margin-bottom: 15px;

    & ion-button:first-child {
      margin-right: 5px;
    }

    & ion-button:last-child {
      margin-left: 5px;
    }
  }
}
