<ion-toolbar color="primary">
  <ion-title>Доступно обновление</ion-title>
  <ion-buttons slot="end">
    <ion-button color="light" (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>
<div class="new-version-prompt">
  <p>Внимание! Доступно обновление в котором:</p>
  <ul>
    <li>- Появилась возможность переименовывать сенсоры.</li>
    <li>- Появилась возможность скрывать сенсоры с рабочего стола.</li>
  </ul>
  <p>Для работы с новой функциональностью тебе необходимо нажать на значок редактирования <b>в левом верхнем углу на главной странице приложения</b>, после чего тебе станут доступны для редактирования <b>элементы рабочего стола</b>.</p>
  <img src="assets/md/new-version.png">
  <p>По нажатию на кнопку 2, будет открыто диалоговое окно, в котором ты можешь отредактировать как название выбранного сенсора, так и его отображение на рабочем столе.</p>
  <img src="assets/md/new-version1.png">
  <p>Обращаю твое внимание на то, что изменения применятся только после того, как ты повторно нажмешь на кнопку номер 1, по окончанию редактирования.</p>
  <p>Если ты хочешь обновить приложение сейчас, нажми на кнопку <b>Обновить</b> (это займет считанные секунды).</p>
  <p>Если же сейчас нет желания обновляться, можешь нажать на кнопку <b>Закрыть</b> и приложение будет обновлено в фоне автоматически, при одном из следующих запусков.</p>
  <div class="new-version-prompt__action-buttons">
    <ion-button fill="outline" class="settings__button" (click)="cancel()">Закрыть</ion-button>
    <ion-button (click)="confirm()">Обновить</ion-button>
  </div>
</div>
