<ion-toolbar color="primary">
  <ion-title>Обновление</ion-title>
  <ion-buttons slot="end">
    <ion-button color="light" (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>
<div class="new-version-prompt">
  <div [innerHTML]="content"></div>
  <div class="new-version-prompt__action-buttons">
    <ion-button fill="outline" class="settings__button" (click)="cancel()">Закрыть</ion-button>
    <ion-button (click)="confirm()">Обновить</ion-button>
  </div>
</div>
