@import 'colors';

.control-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  column-gap: 10px;

  &__start-stop-button-wrapper {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }

  &__start-stop-title {
    font-size: 12px;
    line-height: 21px;
  }

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    & .small-button {
      width: 65px;
      height: 65px;
    }
  }
}

.stop-color ::ng-deep  .hold-button{
  background-color: $red;
  border: 5px solid $red-accent;
}
