<ion-app>
  <ion-header>
    <div class="header-wrapper">
      <div class="back-button">
        @if ((isCoreRoute$ | async) === false) {
          <ion-back-button color="light" text="Назад" (click)="navigationBack()"></ion-back-button>
        }
        @if (isCoreRoute$ | async) {
          <ion-icon
            [name]="isEditDashboardModeEnabled() ? 'create' : 'create-outline'"
            class="edit-dashboard"
            color="light"
            (click)="switchDashboardEditMode()"
          ></ion-icon>
        }
      </div>
      <div class="title">Анатомия автозапуска</div>
      <div class="gears-container">
        <div
          class="gear-rotate"
          [ngClass]="{
          'setting-open-animation': (isSettingsOpen$ | async),
          'setting-close-animation': (isSettingsOpen$ | async) === false,
        }"
          (click)="navigateToSettings()"
          [routerLinkActive]="'gear-animate'"
        ></div>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
