<ion-app>
  <ion-header>
    <div class="header-wrapper">
      <div class="back-button">
        @if ((isCoreRoute$ | async) === false) {
          <ion-back-button color="light" text="Назад" (click)="navigationBack()"></ion-back-button>
        }
        @if (isCoreRoute$ | async) {
          <ion-icon
            [name]="isEditDashboardModeEnabled() ? 'create' : 'create-outline'"
            class="edit-dashboard"
            color="light"
            (click)="switchDashboardEditMode()"
          ></ion-icon>
        }
      </div>
      @if (isCoreRoute$ | async) {
        <ion-item class="entity-select">
          <ion-select interface="action-sheet" placeholder="Выберите авто" [value]="userSettings()?.selectedEntityId" (ionChange)="onCarChange($event)">
            @for (car of userSettings()?.savedEntities; track car.id) {
              <ion-select-option [value]="car.id">{{ car.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      }
      <div class="gears-container">
        <div
          class="gear-rotate"
          [ngClass]="{
          'setting-open-animation': (isSettingsOpen$ | async),
          'setting-close-animation': (isSettingsOpen$ | async) === false,
        }"
          (click)="navigateToSettings()"
          [routerLinkActive]="'gear-animate'"
        ></div>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
