$base: #10AC84;
$base-accent: darken($base, 10%);
$yellow: #ffecb8;
$prompt: rgba(0, 0, 0, 0.54);
$white: #FFFFFF;
$red-svg: invert(26%) sepia(100%) saturate(2937%) hue-rotate(348deg) brightness(72%) contrast(96%);
$red: #b71c1c;
$red-accent: darken($red, 15%);
