<circle-progress
  #progressbar
  *ngIf="isButtonPressed"
  class="progressbar"
  [percent]="100"
  [radius]="progressBarEl?.['elRef']?.nativeElement?.offsetWidth ? progressBarEl['elRef'].nativeElement.offsetWidth / 2 : 0"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="5"
  [space]="-5"
  [innerStrokeColor]="'#def'"
  [outerStrokeColor]="'#369'"
  [animation]="true"
  [animationDuration]="holdTime * 1000"
  [showTitle]="false"
  [showSubtitle]="false"
  [showUnits]="false"
  [showImage]="false"
  [showBackground]="false"
  [backgroundPadding]="0"
  [backgroundStrokeWidth]="0"
></circle-progress>
<ion-button
  class="hold-button"
  shape="round"
  [class.disabled]="this.disabled"
  [disabled]="this.disabled"
  (touchstart)="onStartStopPressed($event)"
  (touchend)="onStartStopUnPressed($event)"
  (mousedown)="onStartStopPressed($event)"
  (mouseup)="onStartStopUnPressed($event)">
  <div class="hold-button__wrapper">
    <ion-spinner *ngIf="isLoading" class="hold-button__spinner" name="crescent"></ion-spinner>
    <img class="hold-button__icon" [src]="iconUrl" *ngIf="!!iconUrl" alt="">
    <ng-content></ng-content>
  </div>
</ion-button>
