@import 'colors.scss';

@function gear-background($color) {
  @return linear-gradient(0deg,transparent 39%, $color 39%, $color 61%, transparent 61%),
          linear-gradient(60deg,transparent 42%, $color 42%, $color 58%, transparent 58%),
          linear-gradient(120deg,transparent 42%, $color 42%, $color 58%, transparent 58%);
}


.header-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: $base;
}

.gears-container{
  font-size: 10px;
  padding: 14px;
}

.gear-rotate.setting-open-animation {
  animation: .5s gear-rotate-open alternate;
  background-color: $yellow;

  &:before {
    animation: .5s color-change-open alternate;
    background: gear-background($yellow);
  }
}

.gear-rotate.setting-close-animation {
  animation: .5s gear-rotate-close alternate;
  background-color: $white;

  &:before {
    animation: .5s color-change-close alternate;
    background: gear-background($white);
  }
}

.gear-rotate{
  width: 2em;
  height: 2em;
  background: $white;
  position: relative;
  border-radius: 1em;
}

.gear-rotate::before {
  width: 2.8em;
  height: 2.8em;
  position: absolute;
  content:"";
  top: -.4em;
  left: -.4em;
  border-radius:1.4em;
}
.gear-rotate::after {
  width: 1em;
  height: 1em;
  background: $base;
  position: absolute;
  content:"";
  top: .5em;
  left: .5em;
  border-radius: .5em;
}

@keyframes gear-rotate-open {
  0% {
    transform: rotate(0deg);
    background: $white;
  }
  100% {
    transform: rotate(-180deg);
    background: $yellow;
  }
}

@keyframes gear-rotate-close {
  0% {
    transform: rotate(0deg);
    background: $yellow;
  }
  100% {
    transform: rotate(180deg);
    background: $white;
  }
}

@keyframes color-change-open {
  0% {
    background: gear-background($white);
  }
  20% {
    background: gear-background(mix($yellow, $white, 20%));
  }
  40% {
    background: gear-background(mix($yellow, $white, 40%));
  }
  60% {
    background: gear-background(mix($yellow, $white, 60%));
  }
  80% {
    background: gear-background(mix($yellow, $white, 80%));
  }
  100% {
    background: gear-background($yellow);
  }
}

@keyframes color-change-close {
  0% {
    background: gear-background($yellow);
  }
  20% {
    background: gear-background(mix($white, $yellow, 20%));
  }
  40% {
    background: gear-background(mix($white, $yellow, 40%));
  }
  60% {
    background: gear-background(mix($white, $yellow, 60%));
  }
  80% {
    background: gear-background(mix($white, $yellow, 80%));
  }
  100% {
    background: gear-background($white);
  }
}
