@import "colors";

.prompt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  &__close {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
  }

  &__tiles {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
  }

  &__tile {
    width: 80px;
    height: 80px;
    margin: 15px 5px;
    border-radius: 15px;
    background-color: $gray;
  }

  &__buttons {
    display: flex;
    column-gap: 10px;
  }

  &__button {
    margin-bottom: 5px;
    width: 110px;
  }

  &__info-text {
    text-align: center;
    margin-bottom: 15px;
  }

  &__for-ios {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__ios-icon {
    width: 30px;
    height: 30px;
  }
}

.bold {
  font-weight: bold;
}
