.timer {
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  height: calc(100% - 48px);

  &__title {
    font-size: 16px;
    font-weight: bold;
  }

  &__slider, &__button {
    width: 220px;
  }

  &__slider ::ng-deep {
    & .mat-slider-horizontal, .mat-slider-track-fill, .mat-slider-track-background, .mat-slider-track-wrapper, .mat-slider-wrapper {
      height: 3px;
    }
  }
}
