<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="updateSensorsData($event)" [disabled]="!(sensorsData$ | async) || !(hasInternetConnection$ | async)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="dashboard">
    <div class="dashboard__section" [class.dashboard__section_edit-mode]="isEditDashboardModeEnabled">
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.Voltage].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.Voltage].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.Voltage)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/voltage.svg" alt="Voltage">
        <span class="dashboard__sensor-label">{{(sensorsData$ | async)?.pin?.[pinStatuses.Voltage] || '--'}} V</span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.Voltage].name}}</span>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.Timer].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.Timer].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.Timer)" name="create-outline"></ion-icon>
        </div>
        <div class="dashboard__sensor-data" (click)="toggleTimerSettingPopover(true, $event)">
          <img class="dashboard__sensor-icon" src="assets/svg/timer.svg" alt="">
          <span class="dashboard__sensor-label">{{(timerData$ | async) | toTime}}</span>
          <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.Timer].name}}</span>
        </div>
        <ion-popover #popover [isOpen]="isTimerSettingOpen" (didDismiss)="toggleTimerSettingPopover(false)">
          <ng-template>
            <ion-content class="dashboard__popover">
              <div class="dashboard__popover-title">Минут: {{timerValue}}</div>
              <ion-range (ionChange)="onRangeChange($event)" [min]="0" [max]="60" [snaps]="true" [ticks]="true" [step]="5"></ion-range>
              <ion-button class="dashboard__popover-button ion-text-center" (click)="saveTimer()">
                <ion-spinner *ngIf="isTimerSetInProgress"></ion-spinner>
                <span *ngIf="!isTimerSetInProgress">Установить</span>
              </ion-button>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.Count].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.Count].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.Count)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/counter.svg" alt="">
        <span class="dashboard__sensor-label">{{(sensorsData$ | async)?.time?.[timeStatuses.Count] || '--.--'}}</span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.Count].name}}</span>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.Temp1].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.Temp1].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.Temp1)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/temperature.svg" alt="">
        <span class="dashboard__sensor-label">{{(sensorsData$ | async)?.temp?.[temperatureStatuses.Temp1] || '--'}} °</span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.Temp1].name}}</span>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.Temp2].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.Temp2].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.Temp2)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/temperature.svg" alt="">
        <span class="dashboard__sensor-label">{{(sensorsData$ | async)?.temp?.[temperatureStatuses.Temp2] || '--'}} °</span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.Temp2].name}}</span>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.Temp3].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.Temp3].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.Temp3)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/temperature.svg" alt="">
        <span class="dashboard__sensor-label">{{(sensorsData$ | async)?.temp?.[temperatureStatuses.Temp3] || '--'}} °</span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.Temp3].name}}</span>
      </div>

      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.IN1].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.IN1].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.IN1)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/channel.svg" alt="">
        <span class="dashboard__sensor-label" [class.active-color]="(sensorsData$ | async)?.pin?.[pinStatuses.IN1] === 1">
        {{(sensorsData$ | async)?.pin?.[pinStatuses.IN1] === 1 ? 'ON' : 'OFF'}}
      </span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.IN1].name}}</span>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.IN2].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.IN2].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.IN2)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/channel.svg" alt="">
        <span class="dashboard__sensor-label" [class.active-color]="(sensorsData$ | async)?.pin?.[pinStatuses.IN2] === 1">
        {{(sensorsData$ | async)?.pin?.[pinStatuses.IN2] === 1 ? 'ON' : 'OFF'}}
      </span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.IN2].name}}</span>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.K2].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.K2].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.K2)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/ignition.svg" alt="">
        <span class="dashboard__sensor-label" [class.active-color]="(sensorsData$ | async)?.pin?.[pinStatuses.K2] === 1">
        {{(sensorsData$ | async)?.pin?.[pinStatuses.K2] === 1 ? 'ON' : 'OFF'}}
      </span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.K2].name}}</span>
      </div>

      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.K1].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.K1].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.K1)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/relay.svg" alt="">
        <span class="dashboard__sensor-label" [class.active-color]="(sensorsData$ | async)?.pin?.[pinStatuses.K1] === 1">
        {{(sensorsData$ | async)?.pin?.[pinStatuses.K1] === 1 ? 'ON' : 'OFF'}}
      </span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.K1].name}}</span>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.K4].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.K4].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.K4)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/relay.svg" alt="">
        <span class="dashboard__sensor-label" [class.active-color]="(sensorsData$ | async)?.pin?.[pinStatuses.K4] === 1">
        {{(sensorsData$ | async)?.pin?.[pinStatuses.K4] === 1 ? 'ON' : 'OFF'}}
      </span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.K4].name}}</span>
      </div>
      <div class="dashboard__sensor-data" *ngIf="dashboardItemsSettings[dashboardItemNames.K5].isVisible || isEditDashboardModeEnabled">
        <div class="dashboard__sensor-data-edit" [class.dashboard__sensor-data-edit_blur]="!dashboardItemsSettings[dashboardItemNames.K5].isVisible">
          <ion-icon class="edit-button" (click)="openItemEditModalFor(dashboardItemNames.K5)" name="create-outline"></ion-icon>
        </div>
        <img class="dashboard__sensor-icon" src="assets/svg/relay.svg" alt="">
        <span class="dashboard__sensor-label" [class.active-color]="(sensorsData$ | async)?.pin?.[pinStatuses.K5] === 1">
        {{(sensorsData$ | async)?.pin?.[pinStatuses.K5] === 1 ? 'ON' : 'OFF'}}
      </span>
        <span class="dashboard__sensor-prompt">{{dashboardItemsSettings[dashboardItemNames.K5].name}}</span>
      </div>
    </div>

    <div class="dashboard__section">
      <swiper direction="horizontal" [loop]=true [pagination]="true">
        <ng-template swiperSlide>
          <az-main-control-buttons></az-main-control-buttons>
        </ng-template>
        <ng-template swiperSlide>
          <az-action-selector></az-action-selector>
        </ng-template>
      </swiper>
    </div>

    <div class="dashboard__update-time">
      <span *ngIf="!!(updateTime$ | async)">Обновлено в: {{updateTime$ | async}}</span>
    </div>
  </div>
</ion-content>
